body {
  background-color: #E2F4C5;
}
.App {
  background-color: white;
  min-height: 80vh;
  width: 400px;
  margin: 20px auto;
}
  .crossed {
    text-decoration: line-through 2px red;
    background-color: #f0f0f0;
  }
  .container {
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
  }
.btn-add {
  background-color: #65aa06;
  margin-top: 5px;
  padding: 10px;
  border: none;
  width: 70%;
  color: white;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}
.btn-delete {
  background-color: #d30100;
  margin-bottom: 5px;
  padding: 10px;
  border: none;
  width: 70%;
  color: white;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}
ul, li {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  font-family: "Montserrat", sans-serif; 
}
input {
  flex: 1;
  padding: 8px;
  margin: 10px;
  font-family: "Montserrat", sans-serif;
}
img {
  border-radius: 50%;
}